<% flash.each do |type, msg| %>
  <% if (type == "notice") %>
    <div class="alert alert-success">
      <%= msg %>
    </div>
  <% elsif (type == "error") %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% else %>     
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @items %>
  </div>
</div>

<%= form_tag items_path, method: :get do %>
  <label>State: </label>
  <%= select_tag "state", options_for_select(["All", "listed", "delisted"], params[:state]) %>
  <%= submit_tag "Search" %>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Price Per Unit</th>
      <th>Total Price</th>
      <th>State</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.weight %></td>
        <td><%= item.price_per_unit %></td>
        <td><%= item.total_price %></td>
        <td><%= item.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
    <%= will_paginate @items, :container => false %>
</div>
